In [1]:
import pandas as pd

In [2]:
forbes_df = pd.read_csv('https://query.data.world/s/t46xrwtskjcedhgmz2sc2mj33bzog7')

In [3]:
forbes_df.head()

,Company,Market Value,Revenue,Profits,Assets,Rank,Sector,Industry,Continent,Country,Headquarters,State,CEO,Forbes Webpage,Profits as % of Assets,Profits as % of Revenue
0,ICBC,305.057,175.874,45.223,4034.482,1,Financials,Major Banks,Asia,China,China,NaN,Shu Gu,http://www.forbes.com/companies/icbc/,0.011209,0.257133
1,JPMorgan Chase,368.502,132.912,32.738,2737.188,2,Financials,Major Banks,North America,United States,New York,New York,Jamie Dimon,http://www.forbes.com/companies/jpmorgan-chase/,0.011960,0.246313
2,China Construction Bank,224.988,150.313,38.841,3382.422,3,Financials,Major Banks,Asia,China,China,NaN,Wang Zuji,http://www.forbes.com/companies/china-construc...,0.011483,0.258401
3,Agricultural Bank of China,197.045,137.456,30.894,3293.105,4,Financials,Regional Banks,Asia,China,China,NaN,Huan Zhao,http://www.forbes.com/companies/agricultural-b...,0.009381,0.224756
4,Bank of America,287.339,111.904,28.540,2377.164,5,Financials,Major Banks,North America,United States,North Carolina,North Carolina,Brian Moynihan,http://www.forbes.com/companies/bank-of-america/,0.012006,0.255040

In [4]:
url = 'https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2'

In [5]:
# The 3rd element in the list of DFs is the table that is required for the ISO Code
wiki_df = pd.read_html(url)[2]

In [6]:
# Dropping unwanted columns
wiki_df = wiki_df[['Country name (using title case)','Code']]

In [7]:
# Change column names
wiki_df.columns = ['Country','Code']

In [8]:
# Replacing values of some countries to match the Oscar DF
wiki_df.loc[df.country.str.contains('United States')==True,'Country'] = 'United States'
wiki_df.loc[df.country.str.contains('Korea, Republic of')==True,'Country'] = 'South Korea'
wiki_df.loc[df.country.str.contains('Russia')==True,'Country'] = 'Russia'
wiki_df.loc[df.country.str.contains('United Kingdom')==True,'Country'] = 'United Kingdom'
wiki_df.loc[df.country.str.contains('Taiwan, Province of China')==True,'Country'] = 'Taiwan'
wiki_df.loc[df.country.str.contains('Czechia')==True,'Country'] = 'Czech Republic'
wiki_df.loc[df.country.str.contains('Viet Nam')==True,'Country'] = 'Vietnam'

NameError: name 'df' is not defined

In [9]:
wiki_df['Country'].unique()

array(['Andorra', 'United Arab Emirates', 'Afghanistan',
       'Antigua and Barbuda', 'Anguilla', 'Albania', 'Armenia', 'Angola',
       'Antarctica', 'Argentina', 'American Samoa', 'Austria',
       'Australia', 'Aruba', 'Åland Islands', 'Azerbaijan',
       'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium',
       'Burkina Faso', 'Bulgaria', 'Bahrain', 'Burundi', 'Benin',
       'Saint Barthélemy', 'Bermuda', 'Brunei Darussalam',
       'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Brazil', 'Bahamas', 'Bhutan',
       'Bouvet Island', 'Botswana', 'Belarus', 'Belize', 'Canada',
       'Cocos (Keeling) Islands', 'Congo, Democratic Republic of the',
       'Central African Republic', 'Congo', 'Switzerland',
       "Côte d'Ivoire", 'Cook Islands', 'Chile', 'Cameroon', 'China',
       'Colombia', 'Costa Rica', 'Cuba', 'Cabo Verde', 'Curaçao',
       'Christmas Island', 'Cyprus', 'Czechia', 'Germany', 'Djibouti',
       'Denmark', 'Dominica', 'Dominican Republic', 'Algeria', 'Ecuador',
       'Estonia', 'Egypt', 'Western Sahara', 'Eritrea', 'Spain',
       'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands (Malvinas)',
       'Micronesia (Federated States of)', 'Faroe Islands', 'France',
       'Gabon', 'United Kingdom of Great Britain and Northern Ireland',
       'Grenada', 'Georgia', 'French Guiana', 'Guernsey', 'Ghana',
       'Gibraltar', 'Greenland', 'Gambia', 'Guinea', 'Guadeloupe',
       'Equatorial Guinea', 'Greece',
       'South Georgia and the South Sandwich Islands', 'Guatemala',
       'Guam', 'Guinea-Bissau', 'Guyana', 'Hong Kong',
       'Heard Island and McDonald Islands', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Ireland', 'Israel',
       'Isle of Man', 'India', 'British Indian Ocean Territory', 'Iraq',
       'Iran (Islamic Republic of)', 'Iceland', 'Italy', 'Jersey',
       'Jamaica', 'Jordan', 'Japan', 'Kenya', 'Kyrgyzstan', 'Cambodia',
       'Kiribati', 'Comoros', 'Saint Kitts and Nevis',
       "Korea (Democratic People's Republic of)", 'Korea, Republic of',
       'Kuwait', 'Cayman Islands', 'Kazakhstan',
       "Lao People's Democratic Republic", 'Lebanon', 'Saint Lucia',
       'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco',
       'Moldova, Republic of', 'Montenegro', 'Saint Martin (French part)',
       'Madagascar', 'Marshall Islands', 'North Macedonia', 'Mali',
       'Myanmar', 'Mongolia', 'Macao', 'Northern Mariana Islands',
       'Martinique', 'Mauritania', 'Montserrat', 'Malta', 'Mauritius',
       'Maldives', 'Malawi', 'Mexico', 'Malaysia', 'Mozambique',
       'Namibia', 'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria',
       'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'Niue',
       'New Zealand', 'Oman', 'Panama', 'Peru', 'French Polynesia',
       'Papua New Guinea', 'Philippines', 'Pakistan', 'Poland',
       'Saint Pierre and Miquelon', 'Pitcairn', 'Puerto Rico',
       'Palestine, State of', 'Portugal', 'Palau', 'Paraguay', 'Qatar',
       'Réunion', 'Romania', 'Serbia', 'Russian Federation', 'Rwanda',
       'Saudi Arabia', 'Solomon Islands', 'Seychelles', 'Sudan', 'Sweden',
       'Singapore', 'Saint Helena, Ascension and Tristan da Cunha',
       'Slovenia', 'Svalbard and Jan Mayen', 'Slovakia', 'Sierra Leone',
       'San Marino', 'Senegal', 'Somalia', 'Suriname', 'South Sudan',
       'Sao Tome and Principe', 'El Salvador',
       'Sint Maarten (Dutch part)', 'Syrian Arab Republic', 'Eswatini',
       'Turks and Caicos Islands', 'Chad', 'French Southern Territories',
       'Togo', 'Thailand', 'Tajikistan', 'Tokelau', 'Timor-Leste',
       'Turkmenistan', 'Tunisia', 'Tonga', 'Turkey',
       'Trinidad and Tobago', 'Tuvalu', 'Taiwan, Province of China',
       'Tanzania, United Republic of', 'Ukraine', 'Uganda',
       'United States Minor Outlying Islands', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Holy See',
       'Saint Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'Virgin Islands (British)',
       'Virgin Islands (U.S.)', 'Viet Nam', 'Vanuatu',
       'Wallis and Futuna', 'Samoa', 'Yemen', 'Mayotte', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
wip_df = forbes_df.merge(wiki_df,how='left',on="Country")

In [11]:
wip_df.to_excel('WIP.xlsx')